{% extends 'base.html' %}
{% block title %} Listado {% endblock %}

{% block content %}
<h2 class="section-title slide-in">Listado de Estudiantes</h2>

<table id="tabla2" class="tablaClickeable">
  <thead>
    <tr>
      <th></th> 
      <th>Nombre Completo</th>
      <th>Fecha de Nacimiento</th>
      <th>Correo</th>
      <th>Número</th>
      <th>Cinturón</th>
      <th>Programa Regular</th>
      <th>Programa Especial</th>
    </tr>
  </thead>
  <tbody>
    {% if data %}
      {% for student in data %}
      <tr data-student-id="{{ student.real_id }}">
        <td>{{ student.display_index }}</td>
        <td>{{ student.full_name }}</td>
        <td>{{ student.birth_date }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.cint }}</td>
        <td>{{ student.regular_program }}</td>
        <td>{{ student.special_program }}</td>
      </tr>
      {% endfor %}

    {% else %}
      <tr>
        <td colspan="8">No hay estudiantes registrados.</td>
      </tr>
    {% endif %}
  </tbody>
</table>        

<div class="pagination">
  {% if page > 1 %}
    <a href="{{ url_for('listado', page=page-1) }}" class="shadow-effect pulse-effect">« Anterior</a>
  {% endif %}

  {% for p in range(1, total_pages + 1) %}
    {% if p == page %}
      <span class="current-page">{{ p }}</span>
    {% else %}
      <a href="{{ url_for('listado', page=p) }}" class="shadow-effect pulse-effect">{{ p }}</a>
    {% endif %}
  {% endfor %}

  {% if page < total_pages %}
    <a href="{{ url_for('listado', page=page+1) }}" class="shadow-effect pulse-effect">Siguiente »</a>
  {% endif %}
</div>


<br><br>
<!--a href="{{ url_for('index') }}" class="shadow-effect pulse-effect">⬅ Volver al inicio</a-->

{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/listado.js') }}"></script>
{% endblock %}
